<div class="rounded shadow">
  <div class="py-2 px-3 rounded-top d-flex flex-column justify-content-between background-top">
    <span class="h2 font-weight-light align-self-start text-light">{{game.name}}</span>
    <span class="h2 font-weight-light align-self-end text-light">{{game.price}} USD</span>
  </div>
  <div class="p-3 rounded-bottom d-flex flex-column">
    <p>{{description}}</p>

    <button *ngIf="!game.isInLibrary else other" class="mt-2 btn btn-primary" type="button" (click)="addToLibrary()">
      Add to library
    </button>

    <ng-template #other>
      <a class="mt-2 btn btn-primary" routerLink="/library">Go to library</a>
    </ng-template>
  </div>
</div>
