<app-container>
  <div class="row">
    <div class="col-12 col-sm-3 d-flex justify-content-center justify-content-sm-start">
      <img src="/assets/images/omegalul.png" alt="Omegalul meme">
    </div>
    <div class="col-12 col-sm-3 offset-sm-6">
      <div *ngIf="user" class="d-flex flex-column align-items-center align-items-sm-end">
        <span>{{user.username}}</span>
        <span>{{user.email}}</span>
        <span>{{user.age}}</span>
        <div class="d-flex flex-column mt-2">
          <a *ngIf="user.id === loggedUser?.id" routerLink="./edit" class="btn btn-primary mb-2">Edit profile</a>
          <button type="button" (click)="logOut()" class="btn btn-danger">Log out</button>
        </div>
      </div>
    </div>
  </div>
</app-container>
